* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    background-image: url(./../assets/blankDesktop.png);
}

main {
    margin-top:150px;
}

:root {
    --color1: #5D5C61;
    --color2: #73827f;
    --color3: #7395AE;
    --color4: #557A95;
    --color5: #B1A296;
    --primaryFont: 'Montserrat', sans-serif;
}


h1 {
    color: var(--color5);
    margin-top: 10px;
    margin-bottom: 10px;
}


h2 {
    color: var(--color5);
    margin-top: 10px;
    margin-bottom: 10px;
}

h3 {
    color: var(--color1);
}

p {
    color: var(--color1);
}

strong {
    color: #57545c;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.center {
    justify-content: center;
    align-items: center;
    align-content: center;
}

.none {
    display: none;
}

.block {
    display: block;
}