* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

header {
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    justify-content: space-around;
    padding: 40px;
    padding-top: 20px;
}

.nav {
    gap: 20px;
}

.logo img {
    object-fit: contain;
    width: 200px;
}

a {
    text-decoration: none;
}

a:hover h2:hover {
    color: #557A95;
}

@media screen and (max-width: 850px) {

    header {
        padding: 20px;
    }
    
}

@media screen and (max-width: 600px) {

h1 {
    font-size: 25px;
}

h2 {
    font-size: 20px;
}


}


@media screen and (max-width: 500px) {

    .menu {
        position: fixed;
        display: flex;
        top:80px;
        right: 0px;
        bottom: 60%;
        left: 0px;
        backdrop-filter: blur(10px);
        justify-content: center;
        align-items: center;
    }

    .none {
        display: none;
    }


    .nav {
        display: none;
    }

    .mobileMenu {
        display: block;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
    }

    header {
        justify-content: space-between;
        padding-left: 40px;
        padding-right: 40px;
    }

    .burger {
        cursor: pointer;
    }

    .fa-bars {
        color: #B1A296;
        font-size: 25px;
    }

    .home2, .about2, .blog2 {
        cursor: pointer;
    }

    .home2:hover, .about2:hover, .blog2:hover {

        color: #986943;

    }

}

@media screen and (max-width: 350px) {

header {
    padding-left: 20px;
    padding-right: 30px;
}

a h1 {
    font-size: 22px;
}

}