main {
    margin-top: 150px;
    align-items: center;
}

.postPic {
    display: flex;
    width: 100px;
}

.postPic img {
    width: 100%;
    object-fit: contain;
}

.contentPost {
    width: 90%;
}

.bread {
    width: 80%;
}
.post {
    gap: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(191, 191, 191);
}

.text p {
line-height: 16px;
max-height: 32px;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 2;
overflow: hidden;
}

.date {
    width: 100%;
    justify-content: flex-end;
    margin-top: 10px;
}

.date p {
    margin: 0px;
    font-size: 10px;
}

.title a h3 {
    margin-top: 10px;
}

@media screen and (max-width: 600px) { 

    .postPic {
        width: 80px;
    }

    main {
        margin-top: 110px;
    }
    
}