main {
    margin-top: 150px;
    align-items: center;
}

.postPic {
    width: 150px;
}

.postPic img {
    width: 100%;
    object-fit: contain;
}

.contentPost {
    width: 60vw;
}

.post {
    gap: 20px;
}

.text p {
    line-height: 1em;
max-height: 2em;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 2;
overflow: hidden;
}