main {
    margin-top: 150px;
    align-items: center;
}

.postPic {
    justify-content: center;
    align-items: center;

}

.postPic img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.contentPost {
    width: 60vw;
    margin-bottom: 100px;
}

.post {
    gap: 20px;
}

.back {
    width: 100%;
    justify-content: center;
    cursor: pointer;
}

.back img {
    width: 30px;
    object-fit: contain;
}

footer {
    position: relative;
}

.direction {
    width: 100%;
    justify-content: space-between;
    margin-top: 30px;
}

.next, .previous {
    width: 70px;
}

.next img, .previous img {
    width: 100%;
    object-fit: contain;
}

.title h1 {
    font-size: 23px;
    color: #5d5c61c9;
}

.gubbe {
    width: 50px;
    margin-top: 5px;
}

.gubbe img {
    width: 100%;
    object-fit: contain;
}



@media screen and (max-width: 600px) { 

    .contentPost {
        width: 80vw;
    }

    .title h1 {
        font-size: 21px;
    }

    h3 {
        font-size: 16px;
    }

    
    }

@media screen and (max-width: 500px) { 

main {
    margin-top: 90px;
}

.gubbe {
    width: 40px;

}

.contentPost {
    margin-bottom: 60px;
}

}

@media screen and (max-width: 400px) { 

    .back a p {
        font-size: 12px;
    }
    
    
    }