
.photo1, .photo2 {
   height: 60vh;
}

.photo1 img /* .photo2 img */  {
    width: 100%;
    object-fit: contain;
}


@media screen and (max-width: 600px) {

    main {
        margin-top: 100px;
    }

}



@media screen and (max-width: 480px) {

.photo1 {
    display: none;
}

main {
    margin-top: 120px;
}

.photo2 {
    display: block;
    justify-content: center;
    align-items: center;
}

.photo2 img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

}
